p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
.ts0 {
  font-family: Tahoma;
  font-weight: bold;
  color: #1f497d;
}
.ts1 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts2 {
  font-family: Tahoma;
  font-weight: bold;
  text-decoration: underline;
}
.ts3 {
  font-family: Tahoma;
}
.ts4 {
  font-family: Tahoma;
  font-weight: bold;
  color: Red;
}
.ts5 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts6 {
  font-family: Tahoma;
  text-decoration: underline;
}
.ts7 {
  font-family: Tahoma;
  color: Black;
}
.ts8 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts9 {
  font-family: Tahoma;
  font-size: 10pt;
}
.ts10 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts11 {
  font-family: Tahoma;
  font-weight: bold;
  color: #1f497d;
}
.ts12 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts13 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts14 {
  font-family: Tahoma;
  font-weight: bold;
  color: Red;
}
.ts15 {
  font-family: Tahoma;
}
.ts16 {
  font-family: Tahoma;
}
.ts17 {
  font-family: Consolas;
  font-weight: bold;
  color: Black;
}
.ts18 {
  font-family: Consolas;
  font-weight: bold;
  color: Black;
}
.ts19 {
  font-family: Consolas;
  color: Black;
}
.ts20 {
  font-family: Consolas;
  color: Green;
}
.ts21 {
  font-family: Consolas;
  color: Blue;
}
.ts22 {
  font-family: Consolas;
  color: Black;
}
.ts23 {
  font-family: Consolas;
  color: #a31515;
}
.ts24 {
  font-family: Tahoma;
  font-weight: bold;
  color: #0070c0;
}
.ts25 {
  font-family: Consolas;
  color: Black;
}
.ts26 {
  font-family: Consolas;
}
.ts27 {
  font-family: Tahoma;
  font-size: 11pt;
}
.ts28 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts29 {
  font-family: 'Courier New';
}
.ts30 {
  font-family: Tahoma;
  text-decoration: underline;
}
.ts31 {
  font-family: Tahoma;
  font-weight: bold;
  color: Red;
  background-color: #ffff73;
}
.ts32 {
  font-family: 'Courier New';
  font-weight: bold;
  color: Blue;
}
.ts33 {
  font-family: Tahoma;
  font-weight: bold;
  text-decoration: underline;
}
.ts34 {
  font-family: Consolas;
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts35 {
  font-family: Tahoma;
  font-weight: bold;
  color: #00b050;
}
.ts36 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts37 {
  font-family: Tahoma;
  font-weight: bold;
  color: #070c12;
}
.ts38 {
  font-family: Tahoma;
  color: Black;
}
.ts39 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts40 {
  font-family: Tahoma;
  font-weight: bold;
  color: Red;
}
.ts41 {
  font-family: Tahoma;
  font-weight: bold;
  color: #00b050;
}
.ts42 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts43 {
  font-family: Consolas;
  font-weight: bold;
  color: Blue;
}
.ts44 {
  font-family: Consolas;
  font-weight: bold;
  color: Black;
}
.ts45 {
  font-family: Consolas;
  font-weight: bold;
  color: Green;
}
.ts46 {
  font-family: 'Courier New';
  font-weight: bold;
}
.ts47 {
  font-family: Tahoma;
}
.ts48 {
  font-family: Consolas;
  font-weight: bold;
  color: #2b91af;
}
.ts49 {
  font-family: Consolas;
  font-weight: bold;
}
.ts50 {
  font-family: Consolas;
}
.ts51 {
  font-family: Consolas;
  color: #2b91af;
}
.ts52 {
  font-family: Tahoma;
  color: #f60000;
}
.ts53 {
  font-family: Tahoma;
  color: Black;
}
.ts54 {
  font-family: Consolas;
}
.ts55 {
  font-family: Tahoma;
}
.ts56 {
  font-family: Consolas;
  color: Maroon;
}
.ts57 {
  font-family: Consolas;
  color: Gray;
}
.ts58 {
  font-family: Tahoma;
  font-weight: bold;
  color: #7f7f7f;
}
.ts59 {
  font-family: Consolas;
  font-size: 10pt;
  color: Black;
}
.hs0 {
  font-family: Tahoma;
  font-weight: bold;
  text-decoration: underline;
  color: Blue;
}
.hs1 {
  font-family: Tahoma;
  font-weight: bold;
  text-decoration: underline;
  color: Blue;
}
.hs2 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Blue;
}
.ps0 {
  font-size: 11pt;
}
.ps1 {
  font-size: 9pt;
}
.ps2 {
  font-size: 10pt;
}
.ps3 {
  padding-left: 30px;
}
.ps4 {
  padding-right: 5px;
  padding-left: 5px;
  line-height: 1.2;
  font-size: 9pt;
}
.ps5 {
  font-size: 8pt;
}
.ps6 {
  line-height: 1.25;
  font-size: 11pt;
}
.ps7 {
  padding-left: 20px;
}
.ps8 {
  padding-left: 20px;
  font-size: 11pt;
}
.ps9 {
  padding-left: 10px;
  font-size: 11pt;
}
.ps10 {
  padding-left: 50px;
  font-size: 10pt;
}
.ps11 {
  padding-left: 10px;
}
.block0 {
  padding: 0 0 7px 0;
}
.block1 {
  padding: 0 0 0 10px;
}
.hline0 {
  width: 100%;
  height: 0px;
  margin: 8px auto;
  border-style: solid;
  border-width: 1px;
  border-top-color: DimGray;
  border-right-color: #e3e3e3;
  border-bottom-color: #e3e3e3;
  border-left-color: DimGray;
}
.tbl0 {
  border-collapse: collapse;
  border-style: none;
}
.tbl0 > tbody > tr.row0 {
  border-style: none;
}
.tbl0 > tbody > tr > td.cell0 {
  width: 124.5pt;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell1 {
  width: 518.25pt;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell2 {
  width: 7.5pt;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell3 {
  width: 183.75pt;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell4 {
  width: 252.75pt;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell5 {
  width: 119.25pt;
  vertical-align: top;
  border-style: none;
}
.tbl1 {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}
.tbl1 > tbody > tr.row0 {
  border-style: none;
}
.tbl1 > tbody > tr > td.cell0 {
  vertical-align: top;
  border-style: none;
}
.tbl2 {
  width: 1000pt;
  border-spacing: 2px;
  border-collapse: separate;
  border-style: none;
}
.tbl2 > tbody > tr.row0 {
  border-style: none;
}
.tbl2 > tbody > tr > td.cell0 {
  vertical-align: top;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #c8cdde;
  background-color: #efeff7;
}
.tbl2 > tbody > tr > td.cell1 {
  vertical-align: top;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: White;
  border-bottom-color: #d5d5d3;
  background-color: LemonChiffon;
}